<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="our-clients">
                <div class="slider-items-products">
                    <div id="our-clients-slider" class="product-flexslider hidden-buttons">
                        <div class="slider-items slider-width-col6 brand-logo">
                            <div class="item"><a href="#"><img src="~/client-side/images/brand/apple.png" alt="Image" ></a> </div>
                            <div class="item"><a href="#"><img src="~/client-side/images/brand/Samsung-Logo-c613e.jpg" alt="Image"></a> </div>
                            <div class="item"><a href="#"><img src="~/client-side/images/brand/xiaomi.png" alt="Image"></a> </div>
                            <div class="item"><a href="#"><img src="~/client-side/images/brand/sony.jpg" alt="Image"></a> </div>
                            <div class="item"><a href="#"><img src="~/client-side/images/brand/oppo.jpg" alt="Image"></a> </div>
                            <div class="item"><a href="#"><img src="~/client-side/images/brand/nokia.png" alt="Image"></a> </div>
                            <div class="item"><a href="#"><img src="~/client-side/images/brand/LG.jpg" alt="Image"></a> </div>
                            <div class="item"><a href="#"><img src="~/client-side/images/brand/lenovo.jpg" alt="Image"></a> </div>
                            <div class="item"><a href="#"><img src="~/client-side/images/brand/huewei.jpg" alt="Image"></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>