@using System.Linq
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Đăng nhập";
}
<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Quay về trang chủ" href="/">Trang chủ</a><span>&raquo;</span></li>
                    <li><strong>Tài khoản</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="main-container col1-layout">
    <div class="main container">
        <div class="page-content">
            <div class="account-login">
                <div class="box-authentication">
                    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <h4>Login</h4>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <p class="before-login-text">Chào bạn! Mời bạn đăng nhập tài khoản của bạn</p>
                        <label asp-for="Email"></label>
                        <input type="text" asp-for="Email" class="form-control">
                        <label asp-for="Password"></label>
                        <input id="password_login" asp-for="Password" type="password" class="form-control">
                        <p class="forgot-pass">
                            <label class="inline" asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                            </label>
                            <a asp-action="ForgotPassword">Nhớ mật khẩu?</a>
                        </p>
                        <button type="submit" class="button">
                            <i class="icon-lock icons"></i>&nbsp; <span>Đăng nhập</span>
                        </button>

                    </form>
                </div>
                <div class="box-authentication">
                    <h4>Đăng kí</h4>
                    <p>Tạo tài khoản</p>

                    <button onclick="window.location.href='/register.html'" class="button"><i class="icon-user icons"></i>&nbsp; <span>Đăng kí</span></button>
                    <div class="register-benefits">
                        <h5>Đăng ký ngay hôm nay và bạn sẽ có thể :</h5>
                        <ul>
                            <li>Tăng tốc theo cách của bạn thông qua thanh toán</li>
                            <li>Theo dõi đơn đặt hàng của bạn dễ dàng</li>
                            <li>Lưu giữ tất cả các giao dịch mua của bạn</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Container End -->

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}